.drawer__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
}
.drawer__container-hidden {
  display: none;
}
.drawer {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 100%;
  right: 0;
  background-color: #121825;
  padding: 112px 20px 20px 20px;

  animation: 0.2s drawer ease-in-out;
  @keyframes drawer {
    0% {
      right: -470px;
    }
    100% {
      right: 0;
    }
  }
}
.drawer__start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close {
  background-image: url(../../assets/Icon/Close.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.close:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
