@import "../../constants";
.table {
  width: 100%;
  color: white;
  font-size: 14px;
  border-spacing: 0 32px;

  thead {
    tr {
      background-color: $dark__primary;

      th {
        padding: 12px 0;

        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
