@import "constants";
// google fonts
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
body {
  background-color: $dark__primary;
}
.App {
  padding: 25px 34px;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

@media screen and (max-width: 834px) {
  .App {
    padding: 16px 24px;
  }
}
